
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Ubuntu&display=swap');body{
	height: 100vh;
	background-color: black;
	color: #F6F6F6;
	box-sizing: border-box;
}

.titulo-destaque {
	color: #22D4FD;
}

.apresentacao{
	margin: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.apresentacao_conteudo{
	width: 620px;
	display: flex;
	flex-direction: column;
	gap:40px;
}

.apresentacao_conteudo_titulo{
	font-size: 36px;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 10px;
}

.apresentacao_conteudo_texto{
	font-size: 23px;
	font-family: 'Montserrat', sans-serif;
}

.apresentacao_links{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;

}

.apresentacao__links__subtitulo{
	font-family: 'krona One',sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.bottom-link{
	/* background-color:#22D4FD ; */

	width: 200px;
	text-align: center;
	padding: 16.5px 0;
	border-radius: 16px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	text-decoration:none;
	color: #f6f6f6;
	border: 2px solid #22D4FD;
	font-family: 'Montserrat', sans-serif;
}